#username{
	margin-bottom: 10px;
	border-radius: 0px
}

#pass{
	margin-bottom: 10px;
}

#login{
	text-align: center;
}

#logo{
	margin-top: 80px;
	margin-bottom: 30px;
}

#loginBox{
	margin-left: auto;
	margin-right: auto;
}

#nombre-num{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

#h-num{
	margin-top: 0px;
}