#username{
	margin-bottom: 10px;
	border-radius: 0px
}

#pass{
	margin-bottom: 10px;
}

#login{
	text-align: center;
}

#logo{
	margin-top: 80px;
	margin-bottom: 30px;
}

#loginBox{
	margin-left: auto;
	margin-right: auto;
}

#nombre-num{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

#h-num{
	margin-top: 0px;
}

#lineaDeSesion{
	margin-top: -16px;
}

#botonE{
	margin-top: 12;
	margin-left: 40;
}

#botonC{
	margin-top: 12;
	margin-left: 68;
}

#botonM{
	margin-top: 12;
	margin-left: 53;
}

#input-pass{
	margin-top: 7;
	margin-left: 35;
	margin-right: 35;
}

#mia{
	
}